django
django-filter
django-cors-headers
django-csp
django-rest-framework-rules==0.1.1
django-allauth
djangorestframework
djangorestframework-simplejwt
dj-rest-auth[with_social]
dj-rest-auth
drf-yasg

python-dotenv==1.0.0
channels
channels_redis
six
psycopg
psycopg2
Pillow

# Configure these libraries and packages one at a time in the terminal. ↓↓↓ !!!
# pip install [package]

# wheel
# odfpy
# markuppy

# pywhatkit
# pandas
# django-import-export